<ActionBar title="List of my products"></ActionBar>

<ScrollView>
  <GridLayout>
    <!-- <StackLayout>
    <Button text="Click Me" nsRouterLink="/productdetails"></Button>


  </StackLayout> -->

    <StackLayout>
      <StackLayout
        *ngFor="let product of products"
        class="productContainer"
        [nsRouterLink]="['/productdetails']"
      >
        <Image [src]="product.image" class="productImage"></Image>
        <Label [text]="product.title" class="h1"></Label>
        <Label [text]="product.description" textWrap="true"></Label>
        <label [text]="'$' + product.price" class="productPrice"></label>
      </StackLayout>
    </StackLayout>
  </GridLayout>
</ScrollView>
